<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roshine.weibo_es_fans.mapper.WeiboVMapper">
    <select id="getWeiboVAll" resultType="WeiboV">
        select * from v_t;
    </select>
</mapper>